# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Fabric
run/
logs/

# macOS
.DS_Store

# Windows
Thumbs.db

# Minecraft
minecraft_server*.jar
crash-reports/
config/
mods/
saves/

